<div class="peg-counter">
    <div class="inner">
        <div class="name">{{name}} ({{pegCount}})</div>
        <div class="controls">
            <a href="#pegUp" class="pegUp"><i class="icon-arrow-up">/\</i></a>
            <a href="#pegDown" class="pegUp"><i class="icon-arrow-down">\/</i></a>
        </div>
    </div>
</div>	